*{margin: 0; padding: 0;}
body{width: 600px; margin: 0 auto;}
body{background-color: #d0ebca;}
li{list-style: none;}
a{text-decoration: none;}


*{font-family: "맑은 고딕", Gothic, sans-serif;}
/* 폰트 수정필요 */


/* 페이지 감싸는 영역 */
#page-wrapper{
    height: 660px;
    background-color: white;
    margin: 40px 0 0 0; 
    padding: 10px;
    position: relative;
}


/* 초기화면 */
#title{
    text-align: center;
    padding: 50px 0 60px 0;
}
#expln{
    text-align: center;
    padding: 10px 0 350px 0;

}
.next-btn .button{
    background-color: white;
    border: none;
    outline: 0;
    border-color: #eaeaea;
    font-family: "맑은 고딕", Gothic, sans-serif;
}
.next-btn{
    top: 598px;
    left: 180px;    
    width: 240px;
    height: 40px;
    margin: 0 auto;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}


/* 테스트페이지 */
.page{
    display: none;
}